# Ports
TRAEFIK_DASHBOARD_PORT=8080
TRAEFIK_WEB_PORT=8081
API_PORT=3000
FRONTEND_PORT=4200
DB_EXTERNAL_PORT=3306

# Database
DB_PORT=3306
DB_USER=api
DB_PASSWORD=apipass
DB_NAME=api
MYSQL_ROOT_PASSWORD=rootpass

# App
JWT_SECRET=secret
REGISTER_ALLOWED=true
OPENAPI_DOCS=true
